# Python
__pycache__/
*.py[cod]
backend/venv/
backend/.env
*.egg-info/

# Node
frontend/node_modules/
frontend/.next/

# OS
.DS_Store
Thumbs.db
nul

# IDE
.vscode/
.idea/

# Uploads & sessions
backend/wa_sessions/
backend/uploads/
